.comment-list {

    padding: 10px;
}

.comment-item {
    display: inline-block;
}

.comment-action {
    display: inline-block;
    margin-left: 20px;
}

.edit-comment-icon:hover {
   color :blue;
   cursor: pointer;
}

.delete-comment-icon {
    margin-left: 5px;
}

.delete-comment-icon:hover {
    color :blue;
    cursor: pointer;
}